<!doctype html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<script>
		<% if (typeof size !== "undefined") { %>
			var size = <%= size %>;
		<% } %>
		<% if (typeof id !== "undefined") { %>
			var id = "<%= id %>";
		<% } %>
	</script>
	<script src="/js/control.js"></script>
</head>
<body>
	<% include ../partials/nav.ejs %>
	<div class="log"></div>
	<input id="auth" type="password">
	<input id="start" type="button" value="Start">
</boy>
</html>