<!doctype html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<script src="/js/crafty-min.js"></script>
	<script>
		<% if (typeof size !== "undefined") { %>
			var size = <%= size %>;
		<% } %>
		<% if (typeof id !== "undefined") { %>
			var id = <%= id %>;
		<% } %>
	</script>
	<script src="/js/game.js"></script>
</head>
<body>
	<% include ../partials/nav.ejs %>
	<div class="game"></div>
	<div class="sidebar">
		<div class="players"></div>
		<div class="log"></div>
		<input type="text" placeholder="Check word" class="wordCheckInput">
		<input type="button" value="Check" class="wordCheckSubmit">
		<div class="chat"></div>
		<input type="text" placeholder="Have a chat" class="chatInput">
		<input type="button" value="Send" class="chatSubmit">
	</div>
</boy>
</html>