<!doctype html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<script src="/js/construct.js"></script>
</head>
<body>
	<% include ../partials/nav.ejs %>
	<a href="/random/2">Join a random 2 player game.</a>
	<div class="construct">
		Players: 
		<select id="playersAmountSelect">
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</select><br>
		
		Auto-Match:
		<input type="checkbox" checked="checked" id="autoMatchCheckbox"><br>
		
		<input type="button" value="Create" id="createGameButton">
	</div>
</boy>
</html>