<!doctype html>
<html>
<head>
	<% include ../partials/header.ejs %>
	<script src="/js/construct.js"></script>
</head>
<body>
	<% include ../partials/nav.ejs %>
	<a href="/control">Control</a>
	<a href="/twitch">Twitch</a>
	<a href="/beam">Beam</a>
</body>
</html>