* {
	margin: 0;
}
.game {
	float: left;
}
.sidebar {
	width: auto;
	float: left;
	margin: 0 0 0 5px;
}
.players {
	width: 200px;
    height: auto;
	white-space: nowrap;
	overflow: hidden;
}
.log, .chat {
	width: 200px;
    height: 200px;
    overflow-y: scroll;
	font-size: 12px;
	margin: 10px 0 0 0;
}
.log p, .chat p {
	margin: 0 0 5px 0;
}
.stat {
	margin: 0 0 0 10px;
}
.wordCheckInput, .chatInput {
	width: 137px;
}
.wordCheckSubmit, .chatSubmit {
	width: 54px;
}
.streamChat {
	width: 300px;
	height: 500px;
}
.controlContainer, .chatsContainer {
	float: left;
}