* {
	margin: 0;
}
.game {
	float: left;
}
.sidebar {
	width: auto;
	float: left;
	margin: 0 0 0 5px;
}
.players {
	width: 200px;
    height: auto;
	white-space: nowrap;
	overflow: hidden;
}
.log {
	width: 200px;
    max-height: 200px;
    overflow-y: auto;
	font-size: 12px;
	margin: 10px 0 0 0;
}
.log p {
	margin: 0 0 5px 0;
}
.stat {
	margin: 0 0 0 10px;
}
.wordCheckInput, .chatInput {
	width: 137px;
}
.wordCheckSubmit, .chatSubmit {
	width: 54px;
}
.chat {
	width: 200px;
    max-height: 200px;
    overflow-y: auto;
	font-size: 12px;
	margin: 10px 0 0 0;
}
.chat p {
	margin: 0 0 5px 0;
}